{% extends 'base.html' %}
{% load static %}

{% block title %}Your Page Title{% endblock %}

{% block content %}

<div class="hero min-h-screen" style="background-image: url({% static 'images/stock/files.jpg' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold"> STEL JURIDISCHE VRAGEN AAN JOUW <span class="[&amp;::selection]:text-base-content relative col-start-1 row-start-1 bg-[linear-gradient(90deg,theme(colors.error)_0%,theme(colors.secondary)_9%,theme(colors.secondary)_42%,theme(colors.primary)_47%,theme(colors.accent)_100%)] bg-clip-text [-webkit-text-fill-color:transparent] [&amp;::selection]:bg-blue-700/20 [@supports(color:oklch(0_0_0))]:bg-[linear-gradient(90deg,oklch(var(--s))_4%,color-mix(in_oklch,oklch(var(--s)),oklch(var(--er)))_22%,oklch(var(--p))_45%,color-mix(in_oklch,oklch(var(--p)),oklch(var(--a)))_67%,oklch(var(--a))_100.2%)]">DOSSIERS</span>
        </h1>
        <p class="py-6">
          Bespaar Tijd en Vind Antwoorden op Juridische Vragen - Of je nu door 10 of 1000 pagina's aan Dossier moet zoeken, Dossierr kent jouw zaken door en door. Maak chatten met je documenten eenvoudig en efficiënt, waardoor jij je kunt concentreren op de essentie van jouw juridisch werk.
        </p>
          <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
<!-- Chat Container -->
<div class="flex flex-col space-y-4">
  <!-- Chat Message 1 -->
  <div class="chat chat-start">
      <div class="chat-image avatar">
          <div class="w-10 rounded-full">
              <img alt="User Avatar" src="https://api.dicebear.com/7.x/pixel-art/svg?seed=Jane" />
          </div>
      </div>
      <div class="chat-header">
          Peter
          <time class="text-xs opacity-50">12:45</time>
      </div>
      <div class="chat-bubble bg-secondary text-white">
        Hoe hoog is het Boetebedrag als we het contract vroegtijdig opzeggen?
      </div>
      <div class="chat-footer opacity-50">
          Delivered
      </div>
  </div>

  <!-- Chat Message 2 -->
  <div class="chat chat-end">
      <div class="chat-image avatar">
          <div class="w-10 rounded-full">
              <img alt="Legal Expert Avatar" src="https://api.dicebear.com/7.x/pixel-art/svg?seed=lawyer" />
          </div>
      </div>
      <div class="chat-header ">
          Dossierr
          <time class="text-xs opacity-50">12:48</time>
      </div>
      <div class="chat-bubble bg-primary text-white">
        Het boetebedrag bij vroegtijdige opzegging wordt bepaald op basis van 10% van het totale contractbedrag, of een vast bedrag van €10.000, afhankelijk van welk bedrag hoger is. Raadpleeg de betreffende boeteclausule in het contract voor de exacte details over het boetebedrag bij vroegtijdige opzegging.      
      
        <br><br>
        Bron: Leveringsovereenkomst.pdf
      </div>
      <div class="chat-footer opacity-50">
          Seen at 12:48
      </div>
  </div>
  
</div>       
 <div>
        <h1 class="text-5xl font-bold">Krijg razendsnel antwoord op specifieke vragen uit jouw dossiers</h1>
        <p class="py-6">Dossierr kent en onthoud de details van jouw zaken. Maar kent ook de wetboeken uit zijn hoofd. Dit maakt hem de ideale juridische assistent.</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="{% static 'icons/magazine.png' %}" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Het hele dossier op 1 plek</h1>
        <p class="py-6">Uploaden kan niet simpeler, cc Dossierr in een email en we voegen automatisch alle informatie toe. Zelf bestanden uploaden kan natuurlijk ook.</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="{% static 'icons/note.png' %}" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
        <h1 class="text-5xl font-bold">Upload elk type bestand</h1>
        <p class="py-6">PDF, Email, Fotos, Word documenten Dossier begrijpt al jouw bestanden.</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>


  <div class="flex justify-center items-center min-h-screen bg-neutral">
    <h1 class="mb-5 text-5xl font-bold"><span class="[&amp;::selection]:text-base-content relative col-start-1 row-start-1 bg-[linear-gradient(90deg,theme(colors.error)_0%,theme(colors.secondary)_9%,theme(colors.secondary)_42%,theme(colors.primary)_47%,theme(colors.accent)_100%)] bg-clip-text [-webkit-text-fill-color:transparent] [&amp;::selection]:bg-blue-700/20 [@supports(color:oklch(0_0_0))]:bg-[linear-gradient(90deg,oklch(var(--s))_4%,color-mix(in_oklch,oklch(var(--s)),oklch(var(--er)))_22%,oklch(var(--p))_45%,color-mix(in_oklch,oklch(var(--p)),oklch(var(--a)))_67%,oklch(var(--a))_100.2%)]">Tarieven:</span></h1>
    <!-- Pricing Tier 1 -->
    <div class="bg-base-100 p-8 rounded-md shadow-md mx-4">
        <h2 class="text-xl font-bold mb-4">Starter</h2>
        <ul class="list-disc pl-4 mb-4">
            <li>25 vragen per maand</li>
            <li>3 bestanden upload</li>
            <li>Chat assistant</li>
            <li>Veilig data verwerken</li>
            <li class="text-base-100"></li>
            <li class="text-base-100"></li>


        </ul>
        <p class="text-lg font-bold mb-4">€2.99/maand</p>
        <button class="btn btn-outline">Kies plan</button>

    </div>

    <!-- Pricing Tier 2 -->
    <div class="bg-base-100 p-8 rounded-md shadow-md mx-4">
      <h2 class="text-xl font-bold mb-4">Pro</h2>
        <ul class="list-disc pl-4 mb-4">
            <li>All features in Starter Plan</li>
            <li>Zoveel vragen als je wil</li>
            <li>Tot 10 GB aan bestanden uploaden</li>
            <li>Bestanden uploaden via email</li>
            <li>Chatvoorkeuren instellen </li>
            <li class="text-base-100"></li>

        </ul>
        <p class="text-lg font-bold mb-4">€19.99/maand</p>
        <button class="btn btn-primary">Kies plan</button>

        
    </div>

    <!-- Pricing Tier 3 -->
    <div class="bg-base-100 p-8 rounded-md shadow-md mx-4">
      <h2 class="text-xl font-bold mb-4">Enterprise</h2>
        <ul class="list-disc pl-4 mb-4">
            <li>All features in Pro Plan</li>
            <li>Geen upload limieten</li>
            <li>Account manager</li>
            <li>Custom SLA</li>
            <li>Team leden toevoegen aan jouw cases</li>
            <li>Private Large Language models</li>
        </ul>
        <p class="text-lg font-bold mb-4">Mail ons voor offerte</p>
        <button class="btn btn-outline">Kies plan</button>

    </div>
</div>





  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      </div>
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100 p-4">
        {% include 'registration/login_form.html'%}
      </div>
    </div>
  </div>
  {% include 'footer.html'%}

{% endblock %}
