<!DOCTYPE html>
<html x-data="{ theme: 'synthwave' }" :data-theme="theme" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Page Title{% endblock %}</title>

    <!-- Daisy UI CDN CSS -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'navbar.html'%}

    {% block content %}
    {% endblock %}

    <!-- Daisy UI CDN JS (Make sure to include Alpine.js before Daisy UI) -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/daisyui@1.3.8/dist/full.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
