{% load static %}

<footer class="footer p-10 bg-base-200 text-base-content">
  <aside>
    <img src="{% static 'images/logo.png' %}" alt="Icon" class="w-12 h-12 m-2">
    <p>Dossierr is a product by Two <a href="https://petervandoorn.com">Trick Pony Enterprise</a>,<br/>Taking on Tech challenges since 2017</p>
  </aside> 
  <nav>
    <header class="footer-title">Services</header> 
    <a class="link link-hover">Document Chat</a>
    <a class="link link-hover">Wetboek Chat </a>
    <a class="link link-hover">Foto Chat </a>
    <a class="link link-hover">Contract review</a>
    <a class="link link-hover">Dossier beheer</a>
  </nav> 
  <nav>
    <header class="footer-title">Company</header> 
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav> 
  <nav>
    <header class="footer-title">Legal</header> 
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer>