<section class="bg-white dark:bg-gray-900 h-screen flex flex-col justify-end">
   <div class="p-4 sm:ml-64 max-w-[80%]">
       {% include 'dashboard/chat/chat_bubbel_left.html' %}
   </div>

   <div class="p-4 sm:ml-64 max-w-[80%]">
       {% include 'dashboard/chat/chat_bubbel_right.html' %}
   </div>

   <div class="p-4 sm:ml-64 max-w-[80%]">
       {% include 'dashboard/chat/chat_bubbel_left.html' %}
   </div>

   <div class="p-4 sm:ml-64 max-w-[80%]">
       {% include 'dashboard/chat/chat_bubbel_right.html' %}
   </div>

   <div class="p-4 sm:ml-64 max-w-[80%]">
       {% include 'dashboard/chat/chat_bubbel_left.html' %}
   </div>

   <div class="p-4 sm:ml-64 max-w-[80%]">
       {% include 'dashboard/chat/chat_bubbel_right.html' %}
   </div>

   
   <div class="p-4 sm:ml-64 max-w-[80%]">
      <form class="w-full max-w-[80%] p-8">
         <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
         <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            </div>
            <input type="search" id="default-search" class="block w-full p-4 pr-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send</button>
         </div>
   </form>
   </div>
</section>
