<div id="chat-history" class="h-screen bg-white dark:bg-gray-900">
    <section class="overflow-y-auto flex flex-col justify-end g-white dark:bg-gray-900">
        {% for chat in chat_history %}
        <div class="p-4 sm:ml-64 max-w-[80%]">
            {% if chat.type == 'ai' %}
                {% if forloop.last %}
                    {% include 'dashboard/chat/chat_bubbel_with_source.html' with chat=chat source_files=source_files %}
                {% else %}
                    {% include 'dashboard/chat/chat_bubbel_left.html' with chat=chat %}
                {% endif %}
            {% else %}
                {% include 'dashboard/chat/chat_bubbel_right.html' with chat=chat %}
            {% endif %}
        </div>
    {% endfor %}

        <div class="p-4 sm:ml-64 max-w-[80%]">
        
            <form 
                class="w-full max-w-[80%] p-8" 
                hx-post="/dashboard/handle_question" 
                hx-encoding='multipart/form-data' 
                hx-target="#chat-history" 
                method="POST">
                {% csrf_token %}
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    </div>
                    <input type="text" id="default-query" name="default-query"
                           class="block w-full p-4 pr-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           required>
                    <input type="submit" value="Submit"
                           class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                </div>
            </form>
        </div>
    </section>
</div>
