
 <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
       <a href="https://flowbite.com/" class="flex items-center ps-2.5 mb-5">
          <img src="https://github.com/Dossierr/noncode/blob/main/logo.png?raw=true" class="h-6 me-3 sm:h-7" alt="Dossierr Logo" />
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Dossierr</span>
       </a>
       
       {% include 'dashboard/sidebar_chatlist.html' with cases=cases files=files %}

       {% include 'dashboard/sidebar_fixedlist.html' %}

       {% include 'dashboard/sidebar_footer.html' %}
    </div>
 </aside>
 