{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="flex h-screen">

    <!-- Accordion (1/4th of the screen) -->
    <div class="w-1/4 bg-neutral p-4">

        <button class="btn btn-primary text-white p-2 mb-4">Add a New Case</button>
        <input type="text" placeholder="Search Cases" class="input placeholder-dark text-dark input-bordered w-full mb-3" />

        <div class="collapse collapse-arrow bg-base-100">
            <input type="radio" name="my-accordion-2" checked="checked" /> 
            <div class="collapse-title text-xl font-medium">
                De Bruijn
            </div>
            <div class="collapse-content"> 
                <p>contract.pdf</p>
                <p>pensioenregeling.pdf</p>
                <p>email 2023-12-19</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-100">
            <input type="radio" name="my-accordion-2" checked="checked" /> 
            <div class="collapse-title text-xl font-medium">
                De Bruijn
            </div>
            <div class="collapse-content"> 
                <p>contract.pdf</p>
                <p>pensioenregeling.pdf</p>
                <p>email 2023-12-19</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-100">
            <input type="radio" name="my-accordion-2" checked="checked" /> 
            <div class="collapse-title text-xl font-medium">
                De Bruijn
            </div>
            <div class="collapse-content"> 
                <p>contract.pdf</p>
                <p>pensioenregeling.pdf</p>
                <p>email 2023-12-19</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-100">
            <input type="radio" name="my-accordion-2" checked="checked" /> 
            <div class="collapse-title text-xl font-medium">
                De Bruijn
            </div>
            <div class="collapse-content"> 
                <p>contract.pdf</p>
                <p>pensioenregeling.pdf</p>
                <p>email 2023-12-19</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-100">
            <input type="radio" name="my-accordion-2" checked="checked" /> 
            <div class="collapse-title text-xl font-medium">
                De Bruijn
            </div>
            <div class="collapse-content"> 
                <p>contract.pdf</p>
                <p>pensioenregeling.pdf</p>
                <p>email 2023-12-19</p>
            </div>
        </div>
        <!-- ... Other collapse sections ... -->
    </div>

    <!-- Main Content (3/4th of the screen) -->
    <div class="flex-1 p-4 bg-neutral flex flex-col">
        <!-- Main Content for the selected tab -->
        <div class="main-content">
            <div class="join btn-neutral">
                <button class="btn text-white join-item">Chat</button>
                <button class="btn text-white join-item">File explorer</button>
                <button class="btn text-white join-item">Case History</button>
            </div>
        </div>

        <!-- Chat bubbles... -->
        <div class="chat chat-start">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <img alt="Tailwind CSS chat bubble component" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
              </div>
            </div>
            <div class="chat-header">
              Obi-Wan Kenobi
              <time class="text-xs opacity-50">12:45</time>
            </div>
            <div class="chat-bubble chat-bubble-primary">Hoe hoog is het Boetebedrag als we het contract vroegtijdig opzeggen?
            </div>
            <div class="chat-footer opacity-50">
              Delivered
            </div>
          </div>
          <div class="chat chat-end">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <img alt="Tailwind CSS chat bubble component" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
              </div>
            </div>
            <div class="chat-header">
              Anakin
              <time class="text-xs opacity-50">12:46</time>
            </div>
            <div class="chat-bubble chat-bubble-secondary">Het boetebedrag bij vroegtijdige opzegging wordt bepaald op basis van 10% van het totale contractbedrag, of een vast bedrag van €10.000, afhankelijk van welk bedrag hoger is. Raadpleeg de betreffende boeteclausule in het contract voor de exacte details over het boetebedrag bij vroegtijdige opzegging.
    
            <br> <!-- You can open the modal using ID.showModal() method -->
            <button class="btn btn-secondary" onclick="my_modal_4.showModal()">Bronnen </button>
            <dialog id="my_modal_4" class="modal">
                <div class="modal-box text-white w-11/12 max-w-5xl">
                <h1 class="font-bold text-lg">Sources</h1>
                <p>Dossierr gebruikte deze bestanden bij het beantwoorden van jouw laatste vraag:</p>
                        <div class="collapse collapse-arrow bg-base-200">
                        <input type="radio" name="my-accordion-2" checked="checked" /> 
                        <div class="collapse-title text-xl font-medium">
                            Contract.pdf
                        </div>
                        <div class="collapse-content"> 
                            <p>Het boetebedrag bij vroegtijdige opzegging wordt bepaald op basis van 10% van het totale contractbedrag, of een vast bedrag van €10.000, afhankelijk van welk bedrag hoger is. Raadpleeg de betreffende boeteclausule in het contract voor de exacte details over het boetebedrag bij vroegtijdige opzegging.
                            </p>
                        </div>
                        </div>
                        <div class="collapse collapse-arrow bg-base-200">
                        <input type="radio" name="my-accordion-2" /> 
                        <div class="collapse-title text-xl font-medium">
                            Leveringsovereenkomst.pdf
                        </div>
                        <div class="collapse-content"> 
                            <p>Het boetebedrag bij vroegtijdige opzegging wordt bepaald op basis van 10% van het totale contractbedrag, of een vast bedrag van €10.000, afhankelijk van welk bedrag hoger is. Raadpleeg de betreffende boeteclausule in het contract voor de exacte details over het boetebedrag bij vroegtijdige opzegging.
                            </p>
                        </div>
                        </div>
                        <div class="collapse collapse-arrow bg-base-200">
                        <input type="radio" name="my-accordion-2" /> 
                        <div class="collapse-title text-xl font-medium">
                            Email 2023-12-19
                        </div>
                        <div class="collapse-content"> 
                            <p>Het boetebedrag bij vroegtijdige opzegging wordt bepaald op basis van 10% van het totale contractbedrag, of een vast bedrag van €10.000, afhankelijk van welk bedrag hoger is. Raadpleeg de betreffende boeteclausule in het contract voor de exacte details over het boetebedrag bij vroegtijdige opzegging.
                            </p>
                        </div>
                        </div>
                    <div class="modal-action">
                      <form method="dialog">
                        <!-- if there is a button, it will close the modal -->
                        <button class="btn btn-primary">Close</button>
                      </form>
                    </div>
                  </div>
                </dialog></div>
            <div class="chat-footer opacity-50">
              Seen at 12:46
            </div>
          </div>
        <div class="input-container mt-4">
            <input type="text" placeholder="Chat with your case the Bruijn File" class="input text-white bg-base-100 w-full" />
        </div>

    </div>
</div>


<script>
    // JavaScript to handle accordion functionality
    const accordionTitles = document.querySelectorAll('.accordion-title');

    accordionTitles.forEach(title => {
        title.addEventListener('click', () => {
            title.parentElement.classList.toggle('active');
        });
    });
</script>
{% endblock %}
